extends layout

block content
  if user
    h2(class="mb-2 text-xl md:text-3xl font-bold") Welcome to our #[span(class="text-red-600") Private club] #{user.userName}! 
  else 
    h2(class="mb-2 text-xl md:text-3xl font-bold") Welcome to our #[span(class="text-red-600") Private club]
  p(class="font-semibold") Please before joining the club read #[a(class="text-blue-600", href="/users/rules") the rules.]
  if user
    a(href="/messages/create", class="p-2 mt-4 bg-black text-white font-bold rounded-lg border border-black hover:bg-white hover:text-black focus:bg-white focus:text-black") Create message

  div(class="mt-6 p-6 border border-gray-100 rounded shadow-md md:w-1/2") 
    h3(class="mb-2 md:text-2xl font-bold") Users messages: 
    for message in messages 
      div(class="p-3 my-4 flex gap-4 bg-gray-100 rounded")
        if user && user.isMember 
          div(class="p-2 min-w-36 border-r-2 border-black") #[b #{message.user.userName}]
        div(class="flex flex-col gap-2 grow")
          h4 #[b #{message.title}] 
          p #{message.text}
          if user && user.isMember 
            p(class="self-end opacity-60") #{message.timestamp}
        if user && user.isAdmin
          a(class="p-2 mt-4 self-center bg-black text-white font-bold rounded-lg border border-black hover:bg-white hover:text-black focus:bg-white focus:text-black", href=(message.url + '/delete')) Delete  
